#main{
    background-image:  linear-gradient(
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75)
      ), url("../images/download.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
body{
    font-family: 'PT Serif', serif;
}
.padding{
    padding-top: 150px;
    padding-bottom: 150px;
}

#main h1{
    font-size: 65px;
}
#main a.btn {
    background-color:#b03b31 ;
}
.color{
    color:rgba(78, 77, 77, 0.75)
}
#main p{
    font-size: 30px;
    color:rgba(255, 255, 255, 0.75)
    
}
#notice p{
    color:rgba(255, 255, 255, 0.75)
}

.btn{
    border: none;
    background-color: white;
    font-weight: bold;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 18px;
}

#notice{
    padding-top: 130px;
    background-color:#b03b31;
}
#notice a{
    background-color: white;
    color: #b03b31;
}

#service h1{
    font-size: 25px;
}
#service h1.heading{
    font-size: 35px;
    padding-bottom: 45px;

}
#service span.icon{
    font-size: 35px;
    color: #b03b31;
}
#images .item{
    margin: 0 -15px;
    position: relative;
}
#images .item .image img{
    width: 100%;
    height: 250px;

}

#images .item .cover{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    background-color: #b03c31bb;
    transition: all .3s ease-in-out;
}

#images .item:hover .cover{
    opacity: 1;
}

#images .item .cover h4{
    font-size: 15px;
    color: #bdbdbdb8;
}

#images .item .cover p{
    font-size: 22px;
    font-weight: 500;
    color: #fff;
}


#download{
    background-color: #212529;
}

#form .col-7 span{
    font-size: 35px;
}
#form .col-7.pb-3 a{
    padding: 10px 50px;
}
.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top a.navbar-brand{
    color:#b03b31 ;
}
#form button{
    background-color: #b03b31;
}
#form input:focus , #form textarea:focus {
    border-color: #b03b31;
    box-shadow: 0 0 5px !important
}

